* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

html {
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 700;
    color:#fff;
}

header, footer{
   width: 100%;
   height: 60px;
   padding: 20px;
   font-size: 20px;
   font-weight: 700;
   background-color: lightsalmon;
}

header {
    margin-bottom: 40px;
}

#root {
    width: 100%;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

p {
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
    color: black;
}

input, textarea {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid darkgrey;
}

li {
    list-style: none;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
}

#root.opacity {
    opacity: 0.2;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

table {
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    margin: 0 auto;
}

th {
    color: black;
    padding: 25px;
}

th, td {
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    color: black;
}

td {
    padding: 10px 20px;
}

tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

tr:last-child th:first-child {
    border-radius: 10px 0 0 0;
}

tr:last-child th:last-child {
    border-radius: 0 10px 0 0;
}

.table-transport {
    margin-bottom: 45px;
}

.table-costs {
    margin-bottom: 90px;
}

.table-center {
    text-align: center;
    font-size: 21px;
}


.create-transport-truck, .create-transport-ship, .create-cost-delivery {
    display: none;
}

.create-transport-ship label, .create-transport-truck label, .create-cost-delivery label {
    display: block;
    margin: 9px 0;
}

.create-transport-ship.show, .create-transport-truck.show, .create-cost-delivery.show {
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    padding: 20px;
    max-width: 400px;
    width: 400px;
    max-height: 650px;
    background-color: white;
    color: black;
    font-size: 16px;
    box-shadow: -1px 0px 20px 0px rgba(0, 0, 0, 0.1);
    z-index: 99999;
}

.create-cost-delivery.show {
    max-height: 350px;
}

input[name="ship-countOfTeam"], input[name="truck-typeOfGas"], input[name="cost-dist"]  {
    margin-bottom: 20px;
}

.create-item {
    position: absolute;
    left: 50px;
    top: 150px;
}

.create-item .button {
    margin-bottom: 15px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.button {
    padding: 10px 10px;
    text-align: center;
    width: 150px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.button.truck {
    background-color: #921bff;
}

.button.ship {
    background-color: #1bd5ff;
}

.button.cost {
    background-color: #1b96ff;
}

.button.cancel {
    background-color: #ffce1b;
}

.button.save {
    background-color: green;
}
